
html{
    height: 100vh;
    width: 100vw;
}

body{
    /* background-image: url(../img/Andromeda.jpg); */
    background-attachment: fixed;       /* 固定背景 */
    background-size: cover;             /* 背景全覆盖 */
    background-repeat: repeat;          /* 背景不重复 */
    background-color: #fff;
}

*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

a{
    text-decoration: none;       /*链接去下划线*/
    border: none;
}

img{
    height: 100%;
    width: 100%;
}

.spjz{                          /* 水平居中 */
    margin: 0 auto;
    left: 0;
    right: 0;
}

/************************************************************************************************************************/

#weather{                         /* 和风天气 */
    position: fixed;
    width: 200px;
    height: 50px;
    left: 10px;
    top: 10px;

}

/* #sidebar{ 
    display: none;

}

#sidebar:hover{ 
    position: absolute;
    width: 400px;
    height: 3000px;
    right: 0;
    background-color: skyblue;

} */


#sidebar{
    background-color: skyblue;
    display: flex;
    position: fixed;
    left: 0px;
    width: 300px;
    height: 3000px;
    transform: translateX(calc(-100% + 1px));
    transition: transform 200ms ease-in;

}

#sidebar:hover{
    transform: translateX(0px);

}

#sidebar-inner{
    display: block;
    width: calc(100% - 1px);
    height: 100%;
    background-color: red;

}


#main{                               /* logo+搜索框 */
    position: fixed;
    width: 700px;
    height: 400px;
    top: 200px;
}

#fishol{                             /* logo */
    position: absolute;
    width: 300px;
    height: 100px;
    top: 0px;
}

#search{                             /* 搜索框 */
    position: absolute;
    width: 100%;
    height: 60px;
    top: 150px;
}

#footer{                            /* 底部版权 */
    position: fixed;
    width: 500px;
    height: 80px;
    bottom: 10px;
}

/************************************************************************************************************************/

#yu{
    position: sticky;               /* 粘滞定位 */
    width: 200px;
    height: 200px;
    top: 50px;
    background-color: blueviolet;
}
